In [0]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [29]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
train=pd.read_csv('train.csv')

In [0]:
test=pd.read_csv('test.csv')
combine=[train,test]

In [8]:
train.head(10)

,Name,Date of Birth,From,To,Flight Date,Flight Time,Booking Date,Class,Fare
0,Dr. FG61 FS88,1963-10-23,Mumbai,Kolkata,2016-11-04,13:50,2016-10-19,Business,14737.67
1,Dr. FG35 FS74,1981-10-09,Lucknow,Hyderabad,2016-09-19,18:30,2016-07-31,Economy,7621.71
2,Dr. MG45 MS99,1981-07-09,Lucknow,Patna,2016-05-27,10:50,2016-05-24,Economy,5655.81
3,Mr. MG93 MS13,1988-09-08,Mumbai,Lucknow,2016-07-24,14:40,2016-07-16,Economy,7436.94
4,Miss FG28 FS14,1994-11-18,Kolkata,Delhi,2016-12-21,10:20,2016-12-09,Economy,3282.54
5,Miss FG66 FS95,2005-11-08,Chennai,Patna,2016-05-17,14:10,2016-05-07,Business,22058.03
6,Mr. MG71 MS64,1948-09-11,Mumbai,Lucknow,2016-05-25,11:30,2016-05-20,Business,13321.88
7,Dr. MG32 MS6,1943-07-19,Chennai,Mumbai,2016-05-20,18:00,2016-04-26,Economy,5290.83
8,Mr. MG69 MS30,1972-05-15,Delhi,Lucknow,2016-11-27,12:30,2016-11-27,Economy,6402.71
9,Mr. MG14 MS53,1949-10-10,Delhi,Mumbai,2016-04-10,12:00,2016-04-09,Economy,7343.52

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 9 columns):
Name             7500 non-null object
Date of Birth    7500 non-null object
From             7500 non-null object
To               7500 non-null object
Flight Date      7500 non-null object
Flight Time      7500 non-null object
Booking Date     7500 non-null object
Class            7500 non-null object
Fare             7500 non-null float64
dtypes: float64(1), object(8)
memory usage: 527.4+ KB

In [6]:
#missing data
total = train.isnull().sum().sort_values(ascending=False)
percent = (train.isnull().sum()/train.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

               Total  Percent
Fare               0      0.0
Class              0      0.0
Booking Date       0      0.0
Flight Time        0      0.0
Flight Date        0      0.0
To                 0      0.0
From               0      0.0
Date of Birth      0      0.0
Name               0      0.0

In [21]:
train[['Class', 'Fare']].groupby(['Class'], as_index=False).mean().sort_values(by='Fare', ascending=False)

      Class          Fare
0  Business  15512.310308
1   Economy   6146.515520

In [23]:
train[['From', 'Fare']].groupby(['From'], as_index=False).mean().sort_values(by='Fare', ascending=False)

        From          Fare
0    Chennai  11358.816448
2  Hyderabad   9964.668085
5     Mumbai   8526.645982
6      Patna   8341.708766
4    Lucknow   7924.036975
3    Kolkata   7614.739758
1      Delhi   7421.343455

In [24]:
train[['To', 'Fare']].groupby(['To'], as_index=False).mean().sort_values(by='Fare', ascending=False)

          To          Fare
0    Chennai  11251.714920
2  Hyderabad   9584.255132
5     Mumbai   8530.728362
6      Patna   8375.641342
4    Lucknow   8121.429894
3    Kolkata   7539.976182
1      Delhi   7500.790281

In [0]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract('([A-Za-z]+)[\. ]', expand=False)

,Name,Date of Birth,From,To,Flight Date,Flight Time,Booking Date,Class,Fare,Title
0,Dr. FG61 FS88,1963-10-23,Mumbai,Kolkata,2016-11-04,13:50,2016-10-19,Business,14737.67,Dr
1,Dr. FG35 FS74,1981-10-09,Lucknow,Hyderabad,2016-09-19,18:30,2016-07-31,Economy,7621.71,Dr
2,Dr. MG45 MS99,1981-07-09,Lucknow,Patna,2016-05-27,10:50,2016-05-24,Economy,5655.81,Dr
3,Mr. MG93 MS13,1988-09-08,Mumbai,Lucknow,2016-07-24,14:40,2016-07-16,Economy,7436.94,Mr
4,Miss FG28 FS14,1994-11-18,Kolkata,Delhi,2016-12-21,10:20,2016-12-09,Economy,3282.54,Miss

In [42]:
train[['Title', 'Fare']].groupby(['Title'], as_index=False).mean().sort_values(by='Fare', ascending=False)

  Title          Fare
0    Dr  10808.869488
3   Mrs   7285.904559
2    Mr   6862.627500
1  Miss   6549.360172

In [0]:
title_mapping = {"Dr": 1, "Mrs": 2, "Mr": 3, "Miss": 4}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

In [44]:
train.head()

,Name,Date of Birth,From,To,Flight Date,Flight Time,Booking Date,Class,Fare,Title
0,Dr. FG61 FS88,1963-10-23,Mumbai,Kolkata,2016-11-04,13:50,2016-10-19,Business,14737.67,1
1,Dr. FG35 FS74,1981-10-09,Lucknow,Hyderabad,2016-09-19,18:30,2016-07-31,Economy,7621.71,1
2,Dr. MG45 MS99,1981-07-09,Lucknow,Patna,2016-05-27,10:50,2016-05-24,Economy,5655.81,1
3,Mr. MG93 MS13,1988-09-08,Mumbai,Lucknow,2016-07-24,14:40,2016-07-16,Economy,7436.94,3
4,Miss FG28 FS14,1994-11-18,Kolkata,Delhi,2016-12-21,10:20,2016-12-09,Economy,3282.54,4

In [0]:
title_mapping = {"Business": 1, "Economy": 2}
for dataset in combine:
    dataset['Class'] = dataset['Class'].map(title_mapping)
    dataset['Class'] = dataset['Class'].fillna(0)

In [46]:
train.head()

,Name,Date of Birth,From,To,Flight Date,Flight Time,Booking Date,Class,Fare,Title
0,Dr. FG61 FS88,1963-10-23,Mumbai,Kolkata,2016-11-04,13:50,2016-10-19,1,14737.67,1
1,Dr. FG35 FS74,1981-10-09,Lucknow,Hyderabad,2016-09-19,18:30,2016-07-31,2,7621.71,1
2,Dr. MG45 MS99,1981-07-09,Lucknow,Patna,2016-05-27,10:50,2016-05-24,2,5655.81,1
3,Mr. MG93 MS13,1988-09-08,Mumbai,Lucknow,2016-07-24,14:40,2016-07-16,2,7436.94,3
4,Miss FG28 FS14,1994-11-18,Kolkata,Delhi,2016-12-21,10:20,2016-12-09,2,3282.54,4

In [0]:
title_mapping = {"Business": 1, "Economy": 2}
for dataset in combine:
    dataset['Class'] = dataset['Class'].map(title_mapping)
    dataset['Class'] = dataset['Class'].fillna(0)

In [0]:
for df in combine:
  df['FYear']=[d.split('-')[0] for d in df['Flight Date']]
  df['FMonth']=[d.split('-')[1] for d in df['Flight Date']]
  df['FDay']=[d.split('-')[2] for d in df['Flight Date']]

In [0]:
for df in combine:
  df['DYear']=[d.split('-')[0] for d in df['Date of Birth']]
  df['DMonth']=[d.split('-')[1] for d in df['Date of Birth']]
  df['DDay']=[d.split('-')[2] for d in df['Date of Birth']]

In [58]:
train.shape

(7500, 16)

In [59]:
train.head()

,Name,Date of Birth,From,To,Flight Date,Flight Time,Booking Date,Class,Fare,Title,FYear,FMonth,FDay,DYear,DMonth,DDay
0,Dr. FG61 FS88,1963-10-23,Mumbai,Kolkata,2016-11-04,13:50,2016-10-19,1,14737.67,1,2016,11,04,1963,10,23
1,Dr. FG35 FS74,1981-10-09,Lucknow,Hyderabad,2016-09-19,18:30,2016-07-31,2,7621.71,1,2016,09,19,1981,10,09
2,Dr. MG45 MS99,1981-07-09,Lucknow,Patna,2016-05-27,10:50,2016-05-24,2,5655.81,1,2016,05,27,1981,07,09
3,Mr. MG93 MS13,1988-09-08,Mumbai,Lucknow,2016-07-24,14:40,2016-07-16,2,7436.94,3,2016,07,24,1988,09,08
4,Miss FG28 FS14,1994-11-18,Kolkata,Delhi,2016-12-21,10:20,2016-12-09,2,3282.54,4,2016,12,21,1994,11,18

In [0]:
title_mapping = {"Mumbai": 1, "Lucknow": 2, "Kolkata": 3, "Delhi": 4, "Patna": 5,"Hyderabad":6,"Chennai":7}
for dataset in combine:
    dataset['From'] = dataset['From'].map(title_mapping)
    dataset['From'] = dataset['From'].fillna(0)
    dataset['To'] = dataset['To'].map(title_mapping)
    dataset['To'] = dataset['To'].fillna(0)

In [61]:
train.shape

(7500, 16)

In [62]:
train.head()

,Name,Date of Birth,From,To,Flight Date,Flight Time,Booking Date,Class,Fare,Title,FYear,FMonth,FDay,DYear,DMonth,DDay
0,Dr. FG61 FS88,1963-10-23,1,3,2016-11-04,13:50,2016-10-19,1,14737.67,1,2016,11,04,1963,10,23
1,Dr. FG35 FS74,1981-10-09,2,6,2016-09-19,18:30,2016-07-31,2,7621.71,1,2016,09,19,1981,10,09
2,Dr. MG45 MS99,1981-07-09,2,5,2016-05-27,10:50,2016-05-24,2,5655.81,1,2016,05,27,1981,07,09
3,Mr. MG93 MS13,1988-09-08,1,2,2016-07-24,14:40,2016-07-16,2,7436.94,3,2016,07,24,1988,09,08
4,Miss FG28 FS14,1994-11-18,3,4,2016-12-21,10:20,2016-12-09,2,3282.54,4,2016,12,21,1994,11,18

In [0]:
for df in combine:
  df['BYear']=[d.split('-')[0] for d in df['Booking Date']]
  df['BMonth']=[d.split('-')[1] for d in df['Booking Date']]
  df['BDay']=[d.split('-')[2] for d in df['Booking Date']]

In [64]:
train.shape

(7500, 19)

In [0]:
train=train.drop(['Name','Booking Date','Date of Birth','Flight Date'],axis=1)
test=test.drop(['Name','Booking Date','Date of Birth','Flight Date'],axis=1)

In [75]:
train.shape

(7500, 15)

In [76]:
test.shape

(2500, 14)

In [77]:
train.head()

,From,To,Flight Time,Class,Fare,Title,FYear,FMonth,FDay,DYear,DMonth,DDay,BYear,BMonth,BDay
0,1,3,13:50,1,14737.67,1,2016,11,04,1963,10,23,2016,10,19
1,2,6,18:30,2,7621.71,1,2016,09,19,1981,10,09,2016,07,31
2,2,5,10:50,2,5655.81,1,2016,05,27,1981,07,09,2016,05,24
3,1,2,14:40,2,7436.94,3,2016,07,24,1988,09,08,2016,07,16
4,3,4,10:20,2,3282.54,4,2016,12,21,1994,11,18,2016,12,09

In [0]:
time= pd.DatetimeIndex(train['Flight Time'])
train['Flight Time']=time.hour*60+time.minute

In [0]:
time= pd.DatetimeIndex(test['Flight Time'])
test['Flight Time']=time.hour*60+time.minute

In [83]:
test.head()

,From,To,Flight Time,Class,Title,FYear,FMonth,FDay,DYear,DMonth,DDay,BYear,BMonth,BDay
0,4,2,1180,2,4,2016,04,04,2004,06,26,2016,02,17
1,2,4,1070,2,1,2016,03,08,1961,04,30,2016,01,25
2,2,4,810,1,1,2016,01,11,1966,08,28,2015,12,29
3,2,1,800,2,1,2016,10,13,1958,03,22,2016,09,12
4,7,4,1070,2,4,2016,09,24,2000,02,01,2016,09,03

In [0]:
Y_train=train['Fare']

In [0]:
X_train=train.drop('Fare',axis=1)

In [102]:
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor(n_estimators=100)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
acc_random_forest

95.77

In [103]:
Y_pred

array([2255.2483, 3891.079 , 9987.0983, ..., 9733.5619, 9387.5042,
       6863.8155])

In [105]:
Y_pred.shape

(2500,)

In [0]:
submission = pd.DataFrame({
        "Fare": Y_pred
    })

In [0]:
submission.to_csv('submission.csv', index=False)
from google.colab import files
files.download('submission.csv')

In [112]:
for x in Y_pred:
  print( x , ",")

2255.2483000000007 ,
3891.0789999999997 ,
9987.098300000003 ,
6569.587200000005 ,
10532.737099999991 ,
10494.215099999998 ,
13536.04140000001 ,
3982.0557999999983 ,
5985.9794999999995 ,
4911.804900000002 ,
13504.864800000005 ,
5227.813499999996 ,
2954.847899999999 ,
7704.196300000001 ,
3470.2545999999998 ,
2926.0208000000007 ,
6999.9867 ,
13446.778200000002 ,
9218.057300000004 ,
12185.095699999998 ,
3707.105599999998 ,
9531.113399999998 ,
8886.294199999997 ,
3390.6881999999982 ,
13966.466400000001 ,
1904.6717000000008 ,
4206.450599999997 ,
5554.5527999999995 ,
27662.697 ,
16833.864900000008 ,
6572.319399999997 ,
5857.800299999995 ,
5215.607499999999 ,
5579.4944000000005 ,
9785.141400000002 ,
8040.277900000002 ,
6072.084100000002 ,
3683.441500000002 ,
6575.913900000002 ,
14148.112299999986 ,
3867.1157000000003 ,
2337.0287999999987 ,
5143.646199999999 ,
13753.848100000008 ,
2542.606099999999 ,
5938.4896 ,
6820.874199999999 ,
17653.92430000001 ,
7608.681299999996 ,
7081.568799999999 ,
7846.414599999995 ,
6114.245200000001 ,
7372.580599999994 ,
6588.3985999999995 ,
7090.276100000002 ,
7252.5635999999995 ,
19783.2574 ,
20923.67640000001 ,
20250.602499999983 ,
22771.815099999985 ,
7644.308399999998 ,
5649.114099999999 ,
2996.702699999999 ,
4503.824299999998 ,
4526.3269999999975 ,
2111.5045999999998 ,
5825.811000000003 ,
4254.288100000002 ,
20523.161000000007 ,
4998.3117999999995 ,
12384.482300000005 ,
6758.0584 ,
8726.024199999996 ,
23655.974599999994 ,
14055.433099999997 ,
2336.9042000000004 ,
7161.567199999999 ,
10474.335700000001 ,
7776.955700000004 ,
11045.673000000003 ,
8333.550900000004 ,
3218.103400000002 ,
6510.340100000002 ,
6329.866899999996 ,
7614.2866 ,
1951.8623 ,
6358.4123000000045 ,
7166.238599999998 ,
4967.981000000001 ,
4975.073200000002 ,
16465.603300000002 ,
4293.8796999999995 ,
8112.074099999998 ,
3514.8135 ,
3493.349299999996 ,
7421.147000000003 ,
6582.093499999999 ,
2214.8137 ,
4674.898500000001 ,
5303.254500000002 ,
4215.919300000003 ,
5967.745300000001 ,
23814.7216 ,
2264.012100000001 ,
2552.1484999999993 ,
7708.0695000000005 ,
8404.299599999998 ,
5050.920000000001 ,
7924.726199999996 ,
5931.807200000002 ,
13747.7656 ,
6320.795600000001 ,
15973.720700000005 ,
13548.269900000003 ,
3278.386100000001 ,
6293.719500000001 ,
3702.715200000002 ,
13001.561399999995 ,
7525.8402000000015 ,
11479.541199999996 ,
13782.866599999994 ,
7188.729399999999 ,
2597.2483000000007 ,
5771.624600000001 ,
6607.129199999997 ,
12566.0115 ,
15681.791799999997 ,
4477.1718 ,
4350.311899999998 ,
5073.9079999999985 ,
5843.509400000002 ,
21117.9054 ,
6870.486499999996 ,
5224.213100000001 ,
5776.713400000005 ,
13796.2314 ,
4465.545599999999 ,
6228.9751 ,
5925.526999999996 ,
2830.282899999998 ,
8281.968 ,
2583.8309 ,
3727.4689000000003 ,
2414.8641999999995 ,
5756.845899999999 ,
6824.898700000002 ,
6356.447799999995 ,
12110.084199999998 ,
9102.5727 ,
11492.65730000001 ,
2687.4552000000003 ,
16236.330000000002 ,
4446.659200000002 ,
4201.7449 ,
2371.6789000000012 ,
7509.648099999999 ,
26020.145900000007 ,
5513.548000000002 ,
3833.775500000001 ,
9246.701299999999 ,
3660.4260000000004 ,
9507.4218 ,
5296.280499999997 ,
6715.341500000004 ,
8660.063899999994 ,
2457.2637000000004 ,
19251.897199999992 ,
5824.454599999997 ,
30006.180299999993 ,
5479.5858000000035 ,
6965.782400000004 ,
5896.614100000001 ,
2396.7846999999997 ,
9692.837799999996 ,
6970.164400000004 ,
6283.970700000002 ,
7052.098199999996 ,
8401.045799999998 ,
8691.576800000003 ,
13556.050200000003 ,
3549.5354 ,
14317.011399999994 ,
5188.150800000005 ,
5873.571400000002 ,
8297.273000000001 ,
4809.054799999997 ,
10102.823400000007 ,
4490.161299999998 ,
5246.647700000001 ,
12503.211700000002 ,
3392.0403999999976 ,
6295.776100000001 ,
11788.731500000009 ,
32743.614599999986 ,
6068.411400000001 ,
5429.9549 ,
7697.140199999995 ,
6898.452300000001 ,
6777.777199999998 ,
29221.017000000003 ,
10091.7076 ,
14798.0397 ,
8726.556199999994 ,
4218.702399999998 ,
7053.494999999999 ,
2567.9329000000016 ,
5322.437499999999 ,
21678.400599999997 ,
6524.939799999998 ,
11688.200499999995 ,
7589.797000000003 ,
2150.270400000001 ,
6991.676599999999 ,
14569.761999999999 ,
17272.44379999998 ,
4615.610400000001 ,
5479.442099999998 ,
2225.9562000000005 ,
32564.842500000013 ,
8132.047100000001 ,
3600.513499999999 ,
3574.3445 ,
13664.241999999997 ,
5712.327399999998 ,
34809.62250000001 ,
7333.8734 ,
5911.7407 ,
4894.568800000001 ,
17978.732 ,
14908.261300000018 ,
18450.962399999997 ,
6977.293800000002 ,
2073.781400000001 ,
5686.437399999996 ,
4694.231199999997 ,
2497.1925 ,
12299.547800000002 ,
3138.5373000000004 ,
2848.2981000000004 ,
3363.0896999999995 ,
7707.4334 ,
5189.453499999996 ,
21983.777300000005 ,
4156.243300000001 ,
4627.218900000001 ,
5238.459900000001 ,
6063.563799999999 ,
8577.929299999998 ,
3799.3655 ,
5211.737700000001 ,
10079.945200000002 ,
10195.3304 ,
3544.285300000001 ,
7502.854699999997 ,
17313.366200000008 ,
5988.8891 ,
5942.164600000001 ,
15740.517299999996 ,
3621.6448 ,
8109.615399999997 ,
11307.127 ,
7868.096100000001 ,
20879.815100000003 ,
22901.544299999998 ,
4304.65 ,
7510.524299999998 ,
4216.314400000001 ,
16885.9682 ,
7260.9109000000035 ,
4438.617499999998 ,
4418.3627000000015 ,
7541.244499999997 ,
14370.537400000003 ,
16369.655300000008 ,
4830.516399999999 ,
3655.1830000000004 ,
3746.973800000001 ,
3474.804500000001 ,
12426.595600000002 ,
4308.756500000001 ,
4669.890899999998 ,
4486.994699999998 ,
8478.843199999998 ,
8212.590599999998 ,
4912.666999999999 ,
2192.08 ,
7152.376499999998 ,
6975.207799999998 ,
6490.316899999996 ,
5739.169600000002 ,
27493.164900000018 ,
8510.405400000003 ,
6888.580200000005 ,
5531.651499999996 ,
4402.1513 ,
18015.1921 ,
22533.381500000003 ,
14975.339200000011 ,
6305.156800000001 ,
7302.840299999998 ,
6881.316599999999 ,
9544.128600000004 ,
5624.490399999999 ,
5342.6123 ,
7901.224400000001 ,
13226.265899999999 ,
8291.796200000006 ,
10408.943299999999 ,
3810.2579000000005 ,
7315.805400000003 ,
3320.6164999999996 ,
6702.397099999998 ,
5909.988500000002 ,
18027.77640000001 ,
8488.802099999994 ,
8467.025999999998 ,
6350.306899999999 ,
6091.413 ,
23091.737599999997 ,
16778.697700000008 ,
7662.8329 ,
9160.326499999997 ,
3744.8737 ,
10403.802199999998 ,
25940.186599999997 ,
7371.838600000002 ,
15588.007699999998 ,
16871.289000000004 ,
24960.666400000006 ,
16012.704700000004 ,
4087.0288000000037 ,
9258.073500000004 ,
6595.4815 ,
5509.3488 ,
10515.923600000006 ,
6667.5988 ,
2387.6162 ,
3138.4412000000016 ,
3557.5182000000004 ,
2410.5769000000005 ,
3600.3893 ,
2881.5267 ,
5499.217300000003 ,
10814.089699999995 ,
6617.296499999998 ,
4233.2002999999995 ,
12177.589000000004 ,
11101.193199999998 ,
3455.6144000000004 ,
7667.2205999999915 ,
19435.607799999998 ,
4975.6262 ,
5378.172100000001 ,
8079.3807 ,
14028.201099999998 ,
8589.881800000001 ,
9414.359599999994 ,
4387.335000000003 ,
4727.7935 ,
6715.9175 ,
6463.936599999995 ,
6536.837299999998 ,
23254.913699999997 ,
4556.8439 ,
6886.654000000001 ,
8420.8726 ,
4249.135599999999 ,
16211.673200000005 ,
28293.85170000001 ,
7061.180499999999 ,
27841.058900000007 ,
11262.744999999997 ,
6014.9074999999975 ,
8021.4155 ,
3496.4329000000002 ,
3454.2887 ,
21567.633899999997 ,
3778.1574000000005 ,
3616.3224000000005 ,
29645.364299999983 ,
7240.993299999999 ,
19111.926300000014 ,
3953.0558000000015 ,
12585.846099999999 ,
4225.0416000000005 ,
4738.738900000005 ,
5681.657700000002 ,
4491.848799999999 ,
3706.2524 ,
2288.7894000000006 ,
5342.008500000001 ,
8943.4468 ,
21817.228599999995 ,
3483.463099999999 ,
3989.406600000002 ,
3855.613200000001 ,
2561.980499999999 ,
5613.981200000004 ,
3438.2296000000015 ,
5495.723999999996 ,
7529.334399999996 ,
4453.5322000000015 ,
4302.134100000001 ,
5817.789499999997 ,
6570.678000000002 ,
6349.319400000002 ,
12344.639000000003 ,
6749.936399999998 ,
12258.629800000002 ,
5911.950499999998 ,
7404.2344 ,
17363.883000000013 ,
5623.014399999999 ,
10331.347700000004 ,
3224.1074999999996 ,
5211.441500000002 ,
5864.258799999998 ,
8002.630499999995 ,
4588.765500000003 ,
9110.976100000003 ,
2497.0756 ,
5596.0279 ,
5473.0527 ,
6815.2995999999985 ,
6447.151100000002 ,
11887.171000000008 ,
4514.4978999999985 ,
17853.065900000016 ,
2394.1130000000003 ,
9089.431700000003 ,
3193.302500000001 ,
4907.135600000001 ,
2973.492099999999 ,
8988.4867 ,
8462.531699999998 ,
5945.973299999999 ,
4147.193499999998 ,
11080.277299999998 ,
10519.6854 ,
26147.491300000005 ,
4027.6384 ,
5161.313300000002 ,
10128.514700000002 ,
4521.613199999996 ,
7884.292200000001 ,
13922.177799999998 ,
3116.8713000000025 ,
17585.6392 ,
10872.931700000005 ,
9354.138499999995 ,
11047.968499999999 ,
8712.195200000004 ,
9359.150800000003 ,
8737.6776 ,
2143.8536999999997 ,
23290.3984 ,
3924.4241000000025 ,
5325.343300000002 ,
5729.520199999999 ,
3484.7837000000004 ,
4058.4590000000003 ,
6600.056799999999 ,
7492.310599999998 ,
16314.603900000002 ,
5274.475699999998 ,
13969.486699999994 ,
7626.519700000001 ,
10791.611300000008 ,
2989.7095999999997 ,
3926.7101000000002 ,
3610.6864000000005 ,
3253.5592999999994 ,
14850.218600000006 ,
20793.698899999996 ,
20305.968900000007 ,
7082.5303 ,
13347.873399999993 ,
4019.3819999999964 ,
5308.397999999997 ,
6063.9590000000035 ,
13025.538000000006 ,
2324.651600000001 ,
23125.870199999994 ,
7223.636099999995 ,
13723.329700000008 ,
11322.137899999996 ,
19754.729500000005 ,
13944.781900000002 ,
7749.129699999995 ,
7315.2396 ,
6734.717400000003 ,
6432.157000000001 ,
14937.706200000006 ,
5078.964200000001 ,
8136.350699999999 ,
5902.254799999999 ,
4519.035400000001 ,
30899.866099999985 ,
23714.298700000007 ,
3725.8307999999997 ,
3866.0207999999984 ,
9269.364100000004 ,
5013.1099 ,
15144.669099999988 ,
24441.020299999975 ,
5707.585900000001 ,
13152.411900000008 ,
9000.856300000001 ,
4413.3964 ,
7205.2127 ,
5308.523700000002 ,
18860.246000000006 ,
6668.458500000003 ,
2429.4138000000007 ,
8107.6705999999995 ,
8421.4276 ,
3194.519399999998 ,
19646.622900000006 ,
8533.169900000003 ,
15037.379400000009 ,
7739.184699999999 ,
8049.961700000003 ,
6800.840699999997 ,
10101.077999999989 ,
8352.912 ,
14115.131199999994 ,
3663.783600000001 ,
3539.0741000000003 ,
7171.0071999999955 ,
15373.236100000013 ,
6503.3180999999995 ,
6482.792599999999 ,
19683.11029999999 ,
13717.254000000008 ,
2884.415200000001 ,
9476.525499999998 ,
12782.652399999999 ,
10818.000399999997 ,
8685.591199999997 ,
20510.01150000001 ,
2571.274 ,
9320.224499999998 ,
5397.142499999999 ,
15384.478200000005 ,
5074.100699999999 ,
9759.769000000004 ,
3933.637299999998 ,
13725.89 ,
6389.128199999998 ,
30936.633499999996 ,
8691.538199999995 ,
13554.898899999993 ,
3972.2680999999975 ,
12177.274000000007 ,
3752.1009000000013 ,
7626.218599999998 ,
9250.999500000005 ,
9077.6036 ,
3283.093499999999 ,
10363.554200000008 ,
4471.341100000001 ,
4121.795600000001 ,
23458.907600000002 ,
7054.761099999999 ,
5812.132599999998 ,
2246.7062999999994 ,
3566.901799999999 ,
4096.237300000002 ,
19365.35470000002 ,
3730.3188000000005 ,
5101.841599999998 ,
11332.271300000004 ,
2558.0472 ,
5407.849000000003 ,
10037.551300000001 ,
4953.250999999997 ,
10701.693700000003 ,
4289.7024999999985 ,
3648.5303000000004 ,
7768.4544000000005 ,
9164.362200000005 ,
30341.584499999964 ,
14550.0173 ,
4896.4177 ,
8303.2853 ,
7358.648600000002 ,
13443.423199999992 ,
23610.485099999998 ,
7378.894300000003 ,
11538.423300000006 ,
4223.327399999999 ,
6320.585300000005 ,
19449.862899999993 ,
5217.990400000001 ,
3928.186899999999 ,
14478.189600000009 ,
4111.601799999999 ,
9550.9628 ,
2647.6785000000004 ,
9553.352799999997 ,
2607.8457 ,
6194.2786000000015 ,
5708.732100000001 ,
5645.185399999996 ,
13692.123200000004 ,
6417.663699999997 ,
14029.815400000005 ,
2667.4526 ,
3535.5921000000026 ,
10023.316699999998 ,
11317.757099999999 ,
9424.3281 ,
11350.758100000005 ,
3989.942100000003 ,
12418.38210000001 ,
7904.578299999998 ,
8006.4374 ,
2579.267999999999 ,
11361.9828 ,
26097.064499999993 ,
17843.00420000001 ,
4056.813500000002 ,
24661.526500000004 ,
5313.5830000000005 ,
4598.8548 ,
4272.266299999999 ,
11826.613199999998 ,
5773.896400000001 ,
2387.5741000000003 ,
2339.3385000000007 ,
7772.1385 ,
2214.089300000001 ,
7560.646800000004 ,
8664.016 ,
13314.501799999993 ,
13221.159000000003 ,
6629.448500000001 ,
5327.0985 ,
20873.61150000001 ,
4642.052799999996 ,
8412.697399999995 ,
3369.2335000000007 ,
15250.019700000003 ,
8575.2607 ,
4226.759600000001 ,
14476.749599999992 ,
11452.456199999997 ,
5017.8137000000015 ,
2420.150200000002 ,
9302.656599999997 ,
3851.4987999999994 ,
3792.403500000002 ,
2630.0901 ,
3572.0964999999983 ,
6801.6563 ,
2425.647700000001 ,
10175.997399999995 ,
8624.386099999996 ,
13327.88529999999 ,
6056.401000000001 ,
8374.211699999996 ,
6486.8726000000015 ,
26457.658200000027 ,
7359.468900000003 ,
5736.0585999999985 ,
3614.392300000001 ,
12489.346399999995 ,
6232.328799999999 ,
4263.866999999998 ,
7060.894199999997 ,
10070.471600000003 ,
10696.409399999995 ,
2677.5449 ,
8370.757000000001 ,
6684.410999999998 ,
6964.951999999998 ,
8257.729900000004 ,
4105.4283000000005 ,
3950.4734000000008 ,
7677.9391 ,
5575.5057000000015 ,
10088.859400000001 ,
5278.9258 ,
24928.516999999996 ,
15533.484399999994 ,
14505.802399999993 ,
5803.851100000004 ,
8332.972099999999 ,
5667.339899999996 ,
20362.37000000001 ,
6292.390899999999 ,
10622.906000000006 ,
5519.715299999999 ,
4454.4524999999985 ,
5302.312700000001 ,
3805.819400000002 ,
37469.626500000006 ,
4747.181499999999 ,
5904.385800000002 ,
15508.108799999998 ,
8981.842900000003 ,
8008.230800000001 ,
7647.0591 ,
5017.333300000001 ,
2551.443699999999 ,
10740.482899999997 ,
13555.8536 ,
5764.912799999999 ,
6782.824600000002 ,
4581.107200000002 ,
2655.552100000001 ,
6910.366400000002 ,
10912.735400000005 ,
11703.514300000004 ,
15700.697800000009 ,
10630.619900000002 ,
7193.1255 ,
8770.528100000003 ,
13643.525799999994 ,
5683.413100000001 ,
13184.277900000001 ,
7709.619899999999 ,
12571.523099999999 ,
3470.1191000000017 ,
5013.635400000001 ,
5303.588599999996 ,
10746.021499999999 ,
11314.877799999998 ,
4684.3550000000005 ,
6939.8633999999975 ,
5501.346199999999 ,
7509.404299999998 ,
5706.313899999999 ,
5750.208200000001 ,
15283.893000000005 ,
12731.371199999994 ,
24429.6657 ,
13158.284500000003 ,
3933.6522999999975 ,
5451.437699999999 ,
5757.578999999997 ,
13336.335600000002 ,
4698.060899999998 ,
6874.104300000005 ,
6668.337300000002 ,
7642.977299999998 ,
10614.136999999999 ,
9399.268 ,
10782.206999999997 ,
2361.0089999999996 ,
4590.786400000001 ,
6122.037000000002 ,
13440.769199999999 ,
6917.7976 ,
2629.2858999999985 ,
9698.069200000004 ,
8175.635600000003 ,
3802.2636 ,
9738.505000000003 ,
7215.062900000001 ,
9789.074600000005 ,
8183.446199999995 ,
34543.7907 ,
9444.201700000003 ,
7356.1825999999965 ,
15603.183600000008 ,
8603.319900000004 ,
4665.3116 ,
14967.715700000008 ,
4238.426299999998 ,
9297.159999999998 ,
7036.0765 ,
35366.6395 ,
7374.0464999999995 ,
5688.216899999999 ,
24024.000099999994 ,
5573.3647 ,
34035.32249999998 ,
5999.985 ,
8524.804100000003 ,
7522.117700000002 ,
27157.09479999998 ,
14756.015799999996 ,
25786.8243 ,
4195.702800000002 ,
4812.6751 ,
5004.954900000001 ,
4965.213400000001 ,
9961.151500000007 ,
16593.90050000001 ,
22069.48589999999 ,
3728.606100000001 ,
7986.684399999996 ,
3822.706900000002 ,
2449.7859000000003 ,
15783.251800000011 ,
10441.755500000003 ,
6764.6127000000015 ,
8662.208800000004 ,
4788.780699999998 ,
4190.376300000002 ,
7786.612799999998 ,
3561.7456000000016 ,
3256.9575000000013 ,
7965.056799999999 ,
21575.274100000006 ,
13492.7011 ,
7167.335399999998 ,
4265.835400000001 ,
10028.154300000002 ,
14809.3993 ,
22714.021799999988 ,
6331.923699999996 ,
5430.398499999998 ,
2364.559099999999 ,
8743.148500000003 ,
4308.545100000003 ,
5507.284800000002 ,
17608.390199999994 ,
4140.593900000003 ,
9460.340400000001 ,
18986.870399999985 ,
4808.965600000001 ,
10707.999099999994 ,
2541.5762000000004 ,
33769.016299999974 ,
5116.4539 ,
10348.180900000001 ,
4150.418200000001 ,
5912.160900000002 ,
3721.7349 ,
10995.342000000004 ,
5988.791099999999 ,
8637.557400000002 ,
13014.738199999998 ,
13237.445900000002 ,
6776.968200000002 ,
10079.238099999993 ,
3103.6074000000003 ,
13950.306899999998 ,
4800.032700000001 ,
4250.8276000000005 ,
13180.401900000004 ,
6206.159900000003 ,
6618.750399999999 ,
8869.3335 ,
6825.536400000003 ,
5911.233299999998 ,
13608.094299999995 ,
4875.2363 ,
17113.569900000013 ,
7447.506600000004 ,
4355.065100000002 ,
6322.5108 ,
2003.602200000001 ,
2721.2355 ,
6462.3389 ,
5442.357099999995 ,
10520.9445 ,
6935.780999999996 ,
2246.2157 ,
5505.709099999996 ,
5477.4542999999985 ,
5055.934799999999 ,
14707.007800000016 ,
11786.532099999997 ,
10246.939100000007 ,
7703.559200000001 ,
21095.473100000007 ,
4956.016700000002 ,
13742.709299999997 ,
11389.717500000004 ,
22430.35579999999 ,
7256.3175 ,
6002.033899999998 ,
4910.5215000000035 ,
4320.6159 ,
4300.657199999999 ,
12226.576700000001 ,
7156.7444 ,
4205.7278 ,
2491.542900000001 ,
5467.4814000000015 ,
3912.7293 ,
4190.9506999999985 ,
4306.083300000001 ,
6786.954600000001 ,
2633.0843999999993 ,
10471.425100000004 ,
5713.485999999996 ,
9516.143199999999 ,
3846.1521999999995 ,
9708.157899999998 ,
7340.907700000002 ,
4043.207800000001 ,
9553.023799999997 ,
10804.0936 ,
5271.023699999999 ,
18450.0502 ,
15498.480799999998 ,
39366.80439999998 ,
5762.014099999998 ,
7716.207899999997 ,
14224.905700000012 ,
23976.850900000005 ,
16668.423600000002 ,
6033.807299999998 ,
5532.787 ,
2605.237199999998 ,
4123.938900000001 ,
5024.891500000001 ,
26952.543400000013 ,
3706.5738999999985 ,
5417.1811000000025 ,
3971.1241000000005 ,
5444.271399999999 ,
14832.485999999999 ,
6832.869700000001 ,
35702.21459999999 ,
9179.271100000005 ,
2839.9411999999998 ,
5168.247599999997 ,
6354.223900000001 ,
22223.460499999994 ,
6108.776599999996 ,
13882.282099999997 ,
6978.1868 ,
5993.304699999999 ,
11507.531000000006 ,
5290.473099999999 ,
6603.061800000004 ,
9317.705900000003 ,
13670.304699999995 ,
5178.427000000002 ,
3400.0415999999987 ,
7118.532600000002 ,
6670.5887 ,
2460.6571 ,
17977.16849999998 ,
9549.507099999999 ,
6331.600999999998 ,
14764.471400000006 ,
2352.0144 ,
20196.9495 ,
6948.265199999999 ,
9331.1174 ,
2970.203899999999 ,
17006.284099999993 ,
3269.7706 ,
3637.2129000000004 ,
6242.051000000001 ,
15331.350299999998 ,
6953.805000000001 ,
8588.0544 ,
2698.7200999999995 ,
5607.434800000001 ,
6661.595299999998 ,
6772.744999999998 ,
6263.124700000004 ,
4493.763900000003 ,
9806.548000000004 ,
7476.480600000001 ,
2418.982400000001 ,
4760.465799999998 ,
3658.125400000004 ,
2432.6154999999994 ,
4764.107799999998 ,
5009.915299999997 ,
4291.286999999999 ,
3809.470199999999 ,
15006.1614 ,
8101.639300000003 ,
6697.826999999994 ,
6127.953600000003 ,
4298.791699999998 ,
5246.179000000003 ,
9158.652 ,
4720.279299999999 ,
2910.4261999999994 ,
5127.827600000001 ,
21512.686199999996 ,
16122.197499999991 ,
6698.644300000005 ,
11861.665400000004 ,
7061.1348 ,
7818.941599999999 ,
7311.373899999998 ,
29889.789999999983 ,
5578.5491999999995 ,
2310.4989000000005 ,
3874.6559000000007 ,
4196.8811 ,
4781.344300000001 ,
27005.819 ,
7837.471400000005 ,
4705.764699999999 ,
9925.447200000006 ,
3506.3587000000016 ,
9133.198800000007 ,
6131.272499999999 ,
12090.033400000015 ,
21345.229499999994 ,
5811.335199999998 ,
7434.274400000003 ,
2221.415899999999 ,
14880.811099999999 ,
3506.421600000003 ,
2710.288199999998 ,
6526.8123 ,
6134.8996 ,
12237.903799999998 ,
3667.2090999999996 ,
8086.9776 ,
9932.219500000005 ,
8508.2743 ,
5569.2472 ,
2082.021300000001 ,
7624.378299999999 ,
4831.849699999999 ,
16109.080499999996 ,
2454.4618 ,
7545.103299999993 ,
9832.967200000001 ,
6716.3579 ,
3741.2471000000014 ,
5489.822499999998 ,
6377.0142000000005 ,
2480.0263 ,
8637.262699999997 ,
4997.9938999999995 ,
4732.083800000002 ,
6990.260400000003 ,
4450.723599999998 ,
2387.2311999999997 ,
8851.857699999999 ,
12846.670800000004 ,
15983.206100000001 ,
4960.774200000003 ,
4707.0280999999995 ,
8516.362499999997 ,
11620.032300000003 ,
13582.075600000004 ,